*.iml
*.class
*.log
.idea/
target/
.DS_Store
*.db
*.bin
.ensime
.ensime_cache
project/project
project/target
/assembly
/btc-explorer.json
/eth-explorer.json
explorer/btc-explorer.json
explorer/eth-explorer.json
/btc-indexer.json
/eth-indexer.json
indexer/btc-indexer.json
indexer/eth-indexer.json
.metals
.bloop
.bsp
.history
site/explorer-openapi.yaml
site/explorer-btc-openapi.yaml
site/explorer-eth-openapi.yaml
.vscode
*/metals.sbt
data